<div class="row">
    <div class="col-lg-1 col-lg-offset-3">
        <a  href="#/languages/java/datatypes" class="btn btn-primary">Data types</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/languages/java/lambdas-closures" class="btn btn-primary">Lambdas vs. <br>closures</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/languages/java/pros-cons" class="btn btn-primary">Pros & cons</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-1 col-lg-offset-3">
        <a  href="#/languages/java/sort" class="btn btn-primary">Sort</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/languages/java/quick-questions" class="btn btn-primary">Quick questions</a>
    </div>
</div>
