<div class="row">

    <div class="col-lg-6 col-lg-offset-3 centering">
        <h1>Merge Two Sorted Linked Lists</h1>
        <br>

        <h3>Solution #1</h3>
        <p>Create a dummy node to keep track of start of merged list. Go through both and merge from small to large.</p>

        <h3>Solution #2</h3>
        <p>Don't use a dummy and do an initialization step to keep track of return node.</p>

        <h3>Complexity</h3>
        <p>
            Worst case is <span class="b">O(N)</span> time (N = total nr of nodes) and best case <span class="b">O(1)</span>
            (when first list has length 1 and second length N-1 - then we just "hang" them onto each other).</p>

        <p>Space is <span class="b">O(1)</span>.</p>
    </div>

</div>

<div class="row">

    <h3>Solution</h3>

    <div class="tabbable" ng-init="tab = 1">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': tab == 1}"><a ng-click="tab = 1">Solution #1</a></li>
            <li ng-class="{'active': tab == 2}"><a ng-click="tab = 2">Solution #2</a></li>
            <li ng-class="{'active': tab == 3}"><a ng-click="tab = 3">Linked List Node</a></li>
        </ul>
    </div>


    <div class="tab-pane" ng-if="tab == 1">
        <pre>
            <code ng-prism class="language-java">

                public class Coderview {

                    public static Node merge(Node first, Node second) {
                        if (first == null) {
                            return second;
                        } else if (second == null) {
                            return first;
                        }

                        // Create dummy node to avoid initializing merged list.
                        Node dummy = new Node(0, 0);
                        Node merged = dummy;

                        // Take the smallest node from first/second while none is null.
                        while (first != null && second != null) {
                            if (first.getValue() < second.getValue()) {
                                merged.setNext(first);
                                first = first.getNext();
                            } else {
                                merged.setNext(second);
                                second = second.getNext();
                        }

                            merged = merged.getNext();
                        }

                        // Merge the left over nodes.
                        Node  leftOver = first == null ? second : first;
                        merged.setNext(leftOver);

                        return dummy.getNext();
                    }
                }

            </code>
        </pre>
    </div>

    <div class="tab-pane" ng-if="tab == 2">
        <pre>
            <code ng-prism class="language-java">

                public class Coderview {

                    public static Node merge(Node first, Node second) {
                        if (first == null) {
                            return second;
                        } else if (second == null) {
                            return first;
                        }

                        Node merged;
                        Node mergedStart;

                        // Initialize the merged list.
                        if (first.getValue() < second.getValue()) {
                            merged = first;
                            first = first.getNext();
                        } else {
                            merged = second;
                            second = second.getNext();
                        }

                        mergedStart = merged;

                        // Take the smallest node from first/second while none is null.
                        while (first != null && second != null) {
                            if (first.getValue() < second.getValue()) {
                                merged.setNext(first);
                                first = first.getNext();
                            } else {
                                merged.setNext(second);
                                second = second.getNext();
                            }

                            merged = merged.getNext();
                        }

                        // Merge the left over nodes.
                        Node  leftOver = first == null ? second : first;
                        merged.setNext(leftOver);

                        return mergedStart;
                    }
                }

            </code>
        </pre>
    </div>


    <div class="tab-pane" ng-if="tab == 3">
        <pre>
            <code ng-prism class="language-java">

                public class Node {

                    private final int id;
                    private Node next;
                    private int value;

                    public Node(int id, int value) {
                        this.id = id;
                        this.value = value;
                    }

                    public Node getNext() {
                        return next;
                    }

                    public void setNext(Node next) {
                        this.next = next;
                    }

                    public int getId() {
                        return id;
                    }

                    public int getValue() {
                        return value;
                    }

                    public void setValue(int value) {
                        this.value = value;
                    }
                }

            </code>
        </pre>
    </div>

</div>


