
<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#/algorithms/dijkstras" class="btn btn-primary">Dijkstra's</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/algorithms/a-star" class="btn btn-primary">A-star</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/algorithms/bellman-ford" class="btn btn-primary">Bellman-Ford</a>
    </div>

</div>

<br>
<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#/algorithms/bfs-graph" class="btn btn-primary">BFS for graphs</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/algorithms/dfs-graph" class="btn btn-primary">DFS for graphs</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/algorithms/bst-traversal" class="btn btn-primary">BST Traversal</a>
    </div>

</div>


<br>
<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#/algorithms/topological-sort" class="btn btn-primary">Topological sort</a>
    </div>

</div>