
<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#/concepts/recursion" class="btn btn-primary">Recursion</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/concepts/memoization" class="btn btn-primary">DP + Memoization</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/concepts/tabulation" class="btn btn-primary">DP + Tabulation</a>
    </div>

</div>
<br>

<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#/concepts/backtracking" class="btn btn-primary">Backtracking</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/concepts/greedy" class="btn btn-primary">Greedy</a>
    </div>
</div>