
<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#" class="btn btn-primary">Binary Tree</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#" class="btn btn-primary">Hash Trie</a>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href="#/datastructures/splay" class="btn btn-primary">Splay Tree</a>
    </div>

</div>
<br>

<div class="row">

    <div class="col-md-1 col-md-offset-3">
        <a href="#" class="btn btn-primary">Binary Heap</a>
    </div>

    <div class="col-md-1 col-md-offset-3">
        <a href="#/datastructures/prefix-tree" class="btn btn-primary">Prefix Tree / Trie</a>
    </div>

</div>