
<div class="row">

    <div class="col-lg-1 col-lg-offset-3">
        <a href="#/sorting" class="btn btn-primary">Sorting</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/problems" class="btn btn-primary">Problems</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/datastructures" class="btn btn-primary">Datastructures</a>
    </div>

</div>
<br>

<div class="row">
    <div class="col-lg-1 col-lg-offset-3">
        <a  href="#/algorithms" class="btn btn-primary">Algorithms</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/other" class="btn btn-primary">Other</a>
    </div>
    <div class="col-lg-1 col-lg-offset-1">
        <a  href="#/concepts" class="btn btn-primary">Concepts</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-1 col-lg-offset-3">
        <a  href="#/languages" class="btn btn-primary">Languages</a>
    </div>
</div>

