<div class="row">

    <div class="col-lg-6 col-lg-offset-3">
        <h1 class="centering">Datatypes</h1>
        <br>

        <h4>Byte</h4>
        <ul>
            <li>8 bit integer</li>
            <li>Signed, two's complement</li>
            <li>Min value: -2^7</li>
            <li>Max value: 2^7 - 1</li>
            <li>Usage #1: when you want to save space (e.g. you have a huge array)</li>
            <li>Usage #2: code understanding (reader understands range is limited)</li>
        </ul>
        <br>

        <h4>Short</h4>
        <ul>
            <li>16 bit integer</li>
            <li>Signed, two's complement</li>
            <li>Min value: -2^15</li>
            <li>Max value: 2^15 - 1</li>
            <li>Usage: same as byte</li>

        </ul>
        <br>

        <h4>Int</h4>
        <ul>
            <li>32 bit integer</li>
            <li>Signed, two's complement</li>
            <li>Min value: -2^31</li>
            <li>Max value: 2^31 - 1</li>
        </ul>
        <br>

        <h4>Long</h4>
        <ul>
            <li>64 bit integer</li>
            <li>Signed, two's complement</li>
            <li>Min value: -2^63</li>
            <li>Max value: 2^63 - 1</li>
            <li>Usage: when you need a wider range than int</li>
            <li>Initialize: 0L</li>
        </ul>
        <br>

        <h4>Float</h4>
        <ul>
            <li>32 bit floating point</li>
            <li>Use instead of double if you wan't to save memory</li>
            <li>Shouldn't be used for precise values, like currency.</li>
            <li>Initialize: 0.0f</li>
        </ul>
        <br>

        <h4>Double</h4>
        <ul>
            <li>64 bit floating point</li>
            <li>Shouldn't be used for precise values, like currency.</li>
            <li>Initialize: 0.0d</li>
        </ul>
        <br>

        <h4>Char</h4>
        <ul>
            <li>16 bit character (UTF-16)</li>
            <li>Initialize: 'hello'</li>
        </ul>


    </div>

</div>

