<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h3 class="centering">Java</h3>
        <br>

        <h4>Lambdas vs. closures</h4>
        <p>A closure = function that keeps a private state and can be passed around. For example, JavaScript has
            closures.</p>
        <p>Lambda = function that can be created at runtime and can change a private state.</p>
        <p>
            Difference = lambdas can't modify variables defined in the outer closure (such code gives compile errors).
            A workaround is to wrap variables you want to modify in a class. However, if you have concurrency there's
            an issue with the modifiable shared state.
        </p>

        <br>
        <p>Example of compile error ("Variable used in lambda expression should be final or effectively final"):</p>


        <pre>
            <code ng-prism class="language-java">

                public class Coderview {

                private static Function&lt;Integer, Integer&gt; makeFunction() {
                    int n = 0; // Outside the lambda scope.

                    return arg -> {
                        System.out.print(n + " " + arg + ": ");
                        arg += 1;
                        n += arg; // This does not compile!
                        return n + arg;
                        };
                    }
                }
            </code>
        </pre>

        <br>
        <p>Example of workaround which does compile:</p>

        <pre>
            <code ng-prism class="language-java">
                class MyInt {
                    int n = 0;
                }

                public class Coderview {

                    private static Function&lt;Integer, Integer&gt; makeFunction() {
                        final MyInt myInt = new MyInt(); // Outside the lambda scope.

                        return arg -> {
                            System.out.print(myInt.n + " " + arg + ": ");
                            arg += 1;
                            myInt.n += arg; // This is fine.
                            return myInt.n + arg;
                        };
                    }

                    public static void tryLambdas() {
                        Function&lt;Integer, Integer&gt; x = makeFunction();
                        Function&lt;Integer, Integer&gt; y = makeFunction();

                        for (int i = 0; i < 5; i++) {
                            System.out.println(x.apply(i));
                        }

                        for (int i = 0; i < 3; i++) {
                            System.out.println(y.apply(i));
                        }
                    }

                    public static void main(String[] args) {
                        tryLambdas();
                    }
                }
            </code>
        </pre>
    </div>
</div>