
<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h3 class="centering">Java</h3>
        <br>
        <h4>Pros</h4>
        <p>
            1. Scalable<br><br>
            2. Much support<br><br>
            3. Garbage collection<br><br>
            4. Type check<br><br>
            5. Often "forces" a more structured code design.<br><br>
            6. Because of type check etc. --> often easy to debug.<br><br>
            7. Often self-explanatory. In Python we often need a lot of comments to explain the code, while in Java
            you only need comments for parts that might be extra difficult to understand.<br><br>
        </p>
        <h4>Cons</h4>
        <p>
            1. Simple things = much code<br><br>
            2. <code>Boolean, Integer</code> etc. can be null, which can be confusing.<br><br>
            3. Forced to use primitive wrappers if we want to put them in <code>List, Map</code> etc.<br><br>. and
            memory size of wrapper is bigger than the size of the primitive.
            4. Doesn't have closures, however lambdas are pretty close.<br><br>
            5. People complain about having to do null checks everywhere. However, if you use the <span class="b">
            Null object pattern</span> or <code>@NotNull</code> you shouldn't have to.<br><br>
        </p>
        <br>

    </div>

</div>