<div class="row">

    <div class="col-lg-6 col-lg-offset-3 centering">
        <h1>A* (A-star)</h1>
        <br>

        <h3>What</h3>
        <p>More general case of <span class="b">Dijkstra's</span>. Finds the (approximated) shortest path between
            two nodes. Uses a <span class="b">heuristic h</span> computing the approximated distance left to the goal.
            In Dijkstra's, h = 0 for all nodes.</p>
        <br>

        <h3>How</h3>
        <p></p>
        <br>

        <h3>Time Complexity</h3>
        <p></p>

    </div>

</div>

<div class="row">

    <h3>Implementation</h3>
    <pre>
        <code ng-prism class="language-java">

        </code>
    </pre>

</div>


