<div class="row">

    <div class="col-lg-6 col-lg-offset-3 centering">
        <h1>Dijkstra's algorithm</h1>
        <br>
        <h3>What</h3>
        <p>Finds the <span class="b">shortest path</span> to all vertices in a <span class="b">Directed Weighted Graph</span>
            (easily modified for undirected) given a start vertex.</p>

        <h3>Some information</h3>
        <p>Original algorithm doesn't use a <span class="b">min-priority queue</span> --> <span class="b">O(V^2)</span>.
            A min-priority queue is an optimization (even faster if it's a <span class="b">Fibonacci heap</span>).
            <br><br>
            This is asymptotically the fastest known single-source shortest-path algorithm for directed
            graphs with unbounded, non-negative weights. However, specialized cases (such as bounded/integer weights, directed
            acyclic graphs etc.) can be improved further.</p>

        <h3>Different implementations</h3>
        <p>There are different ways to represent a graph.
            <span class="b">Adjacency Matrix</span> is preferable when we expect the graph to be dense.
            <span class="b">Adjacency List</span> is preferable when we expect the graph to be sparse.</p>

        <br>
        <h3>How</h3>
        <ul class="list-group">
            <li class="list-group-item"><p>Given a start vertex.</p></li>
            <li class="list-group-item"><p>Put start vertex in queue (min-heap).</p>
            <li class="list-group-item"><p>While queue is not empty...</p>
            <li class="list-group-item"><p>Poll the queue for the current vertex.</p>
            <li class="list-group-item"><p>Go through its adjacency list (list of edges).</p>
            <li class="list-group-item"><p>For all edges, find neighbors and evaluate cost to get there from current.</p>
            <li class="list-group-item"><p>If lower than current min, update min-heap with the new values.</p>
            </li>
        </ul>


        <h3>Time Complexity</h3>
        <p>With binary heap: <span class="b">O(E log V)</span></p>
        <div class="hover-this" ng-mouseenter="why = 1" ng-mouseleave="why = 0">WHY?</div>
        <div class="why" ng-show="why == 1">We go through all vertices and do poll() --> O(V log V). In the inner loop we go though all edges
        and possibly do a decreaseKey-operation --> O(E log V). Final complexity is O(V log V) + O(E log V) =
        O(E log V).</div><br><br>
        <p>With fibonacci heap: <span class="b">O(E + V log V)</span> </p>

        <h3>Space Complexity</h3>
        <p>Adjacency list: <span class="b">O(V + E)</span>.</p>
        <p>Adjacency matrix: <span class="b">O(V^2)</span>.</p>

        <h3>Constraints</h3>
        <p>Original/simple version doesn't work with negative weights (but the below does). However, it doesn't work
            if we have cycles with negative sum (will loop forever). The <span class="b">Bellman–Ford algorithm</span>
            can be used in such cases.</p>

    </div>

</div>

<div class="row">

    <h3>Implementation</h3>

    <div class="tabbable" ng-init="tab = 1">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': tab == 1}"><a ng-click="tab = 1">Dijkstra</a></li>
            <li ng-class="{'active': tab == 2}"><a ng-click="tab = 2">Graph</a></li>
            <li ng-class="{'active': tab == 3}"><a ng-click="tab = 3">Vertex</a></li>
            <li ng-class="{'active': tab == 4}"><a ng-click="tab = 4">Edge</a></li>
        </ul>
        <div class="tab-content">


            <div class="tab-pane" ng-class="{'active': tab == 1}" ng-if="tab == 1">
                <pre>
                    <code ng-prism class="language-java">

                        public class Coderview {

                            /**
                             * Update the min-distances and predecessors on all vertices given a certain source vertex.
                             */
                            public static void updateDijkstraDistances(Vertex source) {
                                source.setMinDistance(0);
                                PriorityQueue&lt;Vertex&gt; vertexQueue = new PriorityQueue<>();
                                vertexQueue.add(source);

                                while (!vertexQueue.isEmpty()) {

                                    // Get and remove the current prioritized vertex & visit all of its edges.
                                    Vertex current = vertexQueue.poll();

                                    for (Edge edge : current.getEdges()) {
                                        Vertex neighbor = edge.getDestination();
                                        double distanceToNeighbor = current.getMinDistance() + edge.getCost();

                                        // If we found a new min distance to the neighbor, update it. Note: remove
                                        // is O(V) and add is O(log V) so the optimized Dijkstra should use a
                                        // decreaseKey-operation with O(log V) time, but I'm using this for simplicity.
                                        if (distanceToNeighbor < neighbor.getMinDistance()) {
                                            vertexQueue.remove(neighbor);
                                            neighbor.setMinDistance(distanceToNeighbor);
                                            neighbor.setPredecessor(current);
                                            vertexQueue.add(neighbor);
                                        }
                                    }
                                }
                            }
                        }

                    </code>
                </pre>
            </div>


            <div class="tab-pane" ng-class="{'active': tab == 2}" ng-if="tab == 2">
                <pre>
                    <code ng-prism class="language-java">

                        public class Graph {

                            private Vertex[] vertices;

                            public Graph(Vertex[] vertices) {
                                this.vertices = vertices;
                            }

                            public Vertex[] getVertices() {
                                return vertices;
                            }
                        }

                    </code>
                </pre>
            </div>


            <div class="tab-pane" ng-class="{'active': tab == 3}" ng-if="tab == 3">
                <pre>
                    <code ng-prism class="language-java">

                        public class Vertex {

                            // Properties representing the vertex itself.
                            private int id;
                            private Edge[] adjacencyList;

                            // Properties updated by the Dijkstra algorithm depending on a given source vertex.
                            private double minDistance = Double.POSITIVE_INFINITY;
                            private Vertex predecessor;

                            public Vertex(int id) {
                                this.id = id;
                            }

                            // This is needed in order to put this object in a priority queue.
                            public int compareTo(Vertex other) {
                                Double.compare(minDistance, other.minDistance);
                            }

                            public int getId() {
                                return id;
                            }

                            public Edge[] getEdges() {
                                return adjacencyList == null ? new Edge[0] : adjacencyList;
                            }

                            public void setEdges(Edge[] adjacencyList) {
                                this.adjacencyList = adjacencyList;
                            }

                            public double getMinDistance() {
                                return minDistance;
                            }

                            public Vertex getPredecessor() {
                                return predecessor;
                            }

                            public void setMinDistance(double minDistance) {
                                this.minDistance = minDistance;
                            }

                            public void setPredecessor(Vertex predecessor) {
                                this.predecessor = predecessor;
                            }
                        }

                    </code>
                </pre>
            </div>


            <div class="tab-pane" ng-class="{'active': tab == 4}" ng-if="tab == 4">
                <pre>
                    <code ng-prism class="language-java">

                        public class Edge {

                            private Vertex destination;
                            private double weight;

                            public Edge(Vertex destination, double weight) {
                                this.destination = destination;
                                this.weight = weight;
                            }

                            public Vertex getDestination() {
                                return destination;
                            }

                            public double getWeight() {
                                return weight;
                            }
                        }

                    </code>
                </pre>
            </div>


        </div>
    </div>

</div>


