<div class="row">

    <div class="col-lg-6 col-lg-offset-3 centering">
        <h1>Prefix Tree / Trie</h1>
        <br>

        <h3>What</h3>
        <br>
        <img src="../img/prefix-tree.png" height="200">

        <p>Or transform it into a Minimized DFA...</p>

        <img src="../img/prefix-tree2.png" height="200">

        <br>

        <h3>Use case</h3>
        <p>Good for autocomplete.</p>

        <h3>Time Complexity</h3>
        <p><span class="b">O(M)</span> --> M = number of characters in input search string.</p>

    </div>

</div>



