<div class="row">

    <div class="col-lg-6 col-lg-offset-3 centering">
        <h1>Splay Tree</h1>
        <br>
        <h3>Why</h3>
        <p>Worst case for BST is O(N) when a tree is heavily unbalanced. Splay trees keep themselves balanced AND also
        makes sure common keys/nodes are at the top.</p>

        <h3>What</h3>
        A <span class="b">self-balancing BST </span>(other examples are: AVL & Red-Black). Used in many applications,
        like <span class="b">gcc compiler</span>, <span class="b">Unix malloc</span> etc.


        <br>
        <h3>How</h3>
        <p>When a node is searched and found, it's moved to root. If not found, the null parent is moved to root.</p>

        <h3>Time Complexity</h3>
        <p>Accessing recently accessed item: <span class="b">O(1)</span>.</p>
        <p>Average for all operations: <span class="b">O(log N)</span>.</p>

    </div>

</div>

<div class="row">

    <h3>Implementation</h3>
    <pre>
        <code ng-prism class="language-java">

        </code>
    </pre>

</div>


